
.fadeIn {
  animation-name: fadeIn;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.fadeOut {
  animation-name: fadeOut;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(366deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}


.fade-in {
  animation-name: fade-in;
  animation-duration: .7s;
}
.fade-out {
  animation-name: fade-out;
  animation-duration: .7s;
}
.sl-top {
  animation-name: sl-top;
  animation-duration:  1s;
  animation-fill-mode: forwards;
}
.sl-top.full {
  animation-name: sl-top-full;
  animation-duration:  1s;
  animation-fill-mode: forwards;
}
.sl-left {
  animation-name: sl-left;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}
.sl-left-end {
  animation-name: sl-left-end;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}
.sl-bottom {
  animation-name: sl-bottom;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.failue {
  animation-name: failue;
  animation-duration: .3s;
  animation-fill-mode: none;
}
.round {
  animation-name: round;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.flip {
  animation-name: flip;
  animation-duration: .4s;
}
.full p.flip {
  animation-name: flip-full;
  animation-duration: .4s;
}
.few p.flip {
  animation-name: flip-few;
  animation-duration: .4s;
}
.loading {
  animation-name: loading;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  display:flex;
  align-items:center;
  justify-content:center;
  position: absolute;
  right: 20px;
  bottom: 20px;
}
.colorful {
  animation-name: colorful;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

/* animation keyframes */
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1.0;
  }
}
@keyframes fade-out {
  from {
    opacity: 1.0;
  }
  to {
    opacity: 0.0;
  }
}
@keyframes sl-top {
  from {
    opacity: 0;
    margin-top: 10%;
  }
  to {
    opacity: 1;
    margin-top: .2em
  }
}
@keyframes sl-top-full {
  from {
    opacity: 0;
    margin-top: 10%;
  }
  to {
    opacity: .7;
    margin-top: .2em
  }
}
@keyframes sl-left {
  from {
    opacity: 0;
    margin-left: 10%;
  }
  to {
    opacity: 1;
    margin-left: 0;
  }
}
@keyframes sl-left-end {
  from {
    opacity: 1;
    margin-left: 0;
  }
  to {
    opacity: 0;
    margin-right: 10%;
  }
}
@keyframes sl-bottom {
  from {
    opacity: 0;
    margin-top: -10%;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
@keyframes failue {
  0% {
    margin-left: 10px;
  }
  20% {
    margin-left: 0;
    margin-right: 10px;
  }
  40% {
    margin-left: 10px;
    margin-right: 0;
  }
  60% {
    margin-left: 0;
    margin-right: 10px;
  }
  80% {
    margin-left: 10px;
    margin-right: 0;
  }
  100% {
    margin: 0;
  }
}
@keyframes round {
  from {

  }
  to {
    transform: rotate(-90deg);
  }
}
@keyframes flip {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(180deg);
  }
  100% {
    transform: rotateX(359deg);
  }
}
@keyframes flip-full {
  0% {
    color: #fff;
    background-color: salmon;
    transform: rotateX(0deg);
  }
  50% {
    color: transparent;
    background-color: #d8615b;
    transform: rotateX(180deg);
  }
  100% {
    transform: rotateX(359deg);
  }
}
@keyframes flip-few {
  0% {
    color: #fff;
    background-color: white;
    transform: rotateX(0deg);
  }
  50% {
    color: transparent;
    background-color: orange;
    transform: rotateX(180deg);
  }
  100% {
    transform: rotateX(359deg);
  }
}
@keyframes loading {
  0% {
    color: magenta;
    transform: rotate(0deg);
  }
  30% {
    color: lightgreen;
    transform: rotate(120deg);
  }
  60% {
    color:salmon;
    transform: rotate(240deg);
  }
  100% {
    color: magenta;
    transform: rotate(359deg);
  }
}

@keyframes filter {
  0% {
    background-color: magenta;
  }
  30% {
    background-color: cyan;
  }
  60% {
    background-color: salmon;
  }
  100% {
    background-color: magenta;
  }
}
