html, body {
font-family: "Mplus 1p", system, -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", Helvetica, "Segoe UI", sans-serif;
}

#box {
  position: relative;
}
#menu {
  position: absolute;
  left: 20%;
  bottom: 20px;
  width: 60%;
  height: 10px;
  background-color: #353535;
  border-radius: 30px;
  transition: all .5s;
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

#menu svg,
#menu .icon {
  margin: 0 10px;
  opacity: 0;
  transition: all 1s;
}

#menu:hover,
#menu.active {
  left: 5%;
  width: 90%;
  height: 50px;
}

#menu:hover svg,
#menu:hover .icon {
  color: #fff;
  opacity: 1;
  transition: all 1s;
}

#menu:hover svg:hover,
#menu:hover .icon:hover {
  color: salmon;
  transform: scale(1.2);
  transition: all .3s;
}

#docus {
  font-size: 25px;
  text-align: left;
  padding: .5em;
}

#content.docus h1 {
  font-size: 1.3em;
}

#content pre {
  padding: 1em;
  border-radius: 10px;
  background-color: rgba(100,100,100, .1);
}
